@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-image: url("images/school.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    height: 90px;
    width: 100%;
}

.navbar .menu h1 a {
    text-transform: uppercase;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

.navbar .menu h1 a:hover {
    cursor: pointer;
}

.navbar .menu {
    width: 100%;
    align-items: center;
    display: flex;
    align-items: right;
    justify-content: flex-start;
}

.navbar .menu ul {
    display: flex;
    cursor: pointer;
    padding-left: 20%;
    padding-top: 5px;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}


.navbar .menu ul li {
    padding: 0 20px;
    text-transform: uppercase;
    
}

.navbar .menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color : white;
    font-weight: bold;
    cursor: pointer;
}

.navbar .menu ul li a:hover {
    cursor: pointer;
    -webkit-text-stroke: 1px rgb(71, 71, 71);
	-webkit-text-fill-color:  rgb(86, 71, 255);
}


p{
    text-align: center;
    font-size: 150px;
    text-transform: capitalize;
    font-style: italic;
    color: white;
    font-family: 'Teko', sans-serif;
}

footer{
    font-size: large;
    font-weight: 700;
    display:flex;
    position:absolute;
    bottom:10px;
    right:10px;
}